.music-app {
    border-radius: 20px;
    max-width: 380px;
    width: 100%;
    padding: 25px;
    background: linear-gradient(to bottom, #96B6C5, #ADC4CE);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__volume-container {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        align-self: flex-start;

        &:hover {
            .music-app__volume-slider {
                width: 280px;
            }
        }
    }

    &__volume-slider {
        position: absolute;
        top: 5px;
        left: 40px;
        z-index: -1;
        width: 0;
        height: 20px;
        background-color: #e4e9ed;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transition: all 0.3s;
    }

    &__volume-button {
        height: 30px;
        display: flex;
        align-items: center;
        transition: all 0.3s;

        img {
            width: 30px;
            height: 30px;
            display: flex;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__volume-percentage {
        background-color: rgba(15, 32, 46, 0.85);
        height: 100%;
        transition: all 0.2s;
    }

    &__cover {
        display: flex;
        justify-content: center;
        height: 400px;

        img {
            border-radius: 10px;
            object-fit: cover;
        }
    }

    &__current-song {
        font-size: 18px;
    }

    &__time-container {
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        margin-bottom: -18px;
    }

    &__progress-container {
        background-color: #e4e9ed;
        width: 100%;
        height: 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__progress {
        background-color: rgba(15, 32, 46, 0.85);
        height: 8px;
        transition: all 0.2s;
    }

    &__controls {
        display: flex;
        gap: 50px;

        .btn {
            cursor: pointer;
            transition: all 0.3s;
            width: 30px;
            height: 30px;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}