@font-face {
    font-display: swap;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/forum-v16-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'); 
}

.page {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: hidden;
}

.page-body {
    width: 1440px;
    margin: 0 auto;
    padding:  0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    color: #ffffff;
    background-color: #0C0C0E;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header h1 {
    font-family: 'Forum',sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    margin: 0;
}

.nav a {
    color: #ffffff;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.nav-list a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease-out;
}

.nav-list a:hover::after,
.nav-list a:focus::after {
    width: 100%;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item:not(:first-child) {
    margin-left: 30px;
}

.header-profile {
    width: 28px;
    height: 28px;
    margin-left: 40px;
    opacity: 1;
}

.header-profile:hover svg {
    opacity: 0.5;
    transition: 0.3s;
}

.welcome {
    min-height: 600px;
    color: #ffffff;
    background-color: #000000;
    background-image: url('../assets/img/welcome-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.welcome h3 {
    text-align: center;
    font-family: 'Forum', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #000000;
    margin-top: 216px;
    padding: 39px 118px;
}

.section-header {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Forum', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    margin: 0;
}

.section-header::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #0C0C0E;
    width: 50px;
    height: 1px;
    bottom: -21px;
    right: calc(50% - 25px);
}

.about,
.favorites {
    padding: 20px 20px 40px 20px;
}

.about p {
    text-align: center;
    margin-top: 60px;
}

.slider {
    position: relative;
    margin-bottom: 44px;
}

.slider-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.slider-controls {
    position: absolute;
    width: 78px;
    right: calc(50% - 39px);
    bottom: -47px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slider-controls label {
    position: relative;
    width: 26px;
    height: 26px;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

.slider-controls label::after {
    content: '';
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
    top: -33px;
    right: -5px;
}

.slider-controls label.active-slide::after {
    background-color: #BB945F;
}

.fav-filter h3 {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 61px;
    margin-bottom: 32px;
}

.fav-filter label {
    position: relative;
    cursor: pointer;
    padding-left: 37px;
    display: inline-block;
    width: 120px;
    margin: 0;
}

.fav-filter label:not(:first-of-type) {
    margin-left: 66px;
}

.fav-filter label:last-of-type {
    margin-left: 80px;
}


.fav-input-radio+label::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../assets/img/fav-radio-off.svg);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    top: 9px;
    left: -3px;
}

.fav-input-radio:checked+label {
    font-weight: 700;
}

.fav-input-radio:checked+label::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../assets/img/fav-radio-on.svg);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    top: 9px;
    left: -3px;
}