@font-face {
    font-display: swap;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/forum-v16-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'); 
}

.page {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    appearance: textfield;
    -moz-appearance: textfield;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect (0 0 0 0);
    overflow: clip;
    opacity: 0;
}

.page-body {
    max-width: 1440px;
    margin: 0 auto;
    padding:  0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.body-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    color: #ffffff;
    background-color: #0C0C0E;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header h1 {
    font-family: 'Forum',sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    text-transform: capitalize;
    margin: 0;
}

.nav a {
    color: #ffffff;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.nav-list a::after,
.drop-menu__field::after,
.drop-menu-auth__field::after,
.footer-address::after,
.footer-bottom a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease-out;
}

.drop-menu__field,
.drop-menu-auth__field {
    position: relative;
}

.drop-menu__field::after,
.drop-menu-auth__field::after {
    background-color: #0C0C0E;
}

.drop-menu__field:hover:after,
.drop-menu__field:focus:after,
.drop-menu-auth__field:hover:after,
.drop-menu-auth__field:focus:after {
    width: 100%;
}

.nav-list a:hover::after,
.nav-list a:focus::after,
.footer-address:hover::after,
.footer-address:focus::after,
.footer-bottom a:hover::after,
.footer-bottom a:focus::after {
    width: 100%;
}
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item:not(:first-child) {
    margin-left: 30px;
}

.header-profile {
    width: 28px;
    height: 28px;
    margin-left: 40px;
    cursor: pointer;
    position: relative;
}

.profile-button,
.profile-user {
    transition: opacity 0.3s;
    opacity: 1;
}

.profile-button:hover,
.profile-user:hover {
    opacity: 0.6;
}

.profile-button:active,
.profile-user:active {
    opacity: 0.2;
}

.profile-user {
    display: flex;
    border-radius: 50%;
    background-color: #ffffff;
    color: #BB945F;
    font-size: 15px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: relative;
}

.drop-menu,
.drop-menu-auth {
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    width: 80px;
    height: 115px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px 4px 20px;
    gap: 10px;
    transition: all 0.8s;
    opacity: 0;
    transform: translateX(185px); 
}

.drop-toggle {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.8s;
}


.drop-menu__title,
.drop-menu-auth__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; 
    margin-bottom: 10px;
    cursor: default;
    position: relative;
}

.drop-menu__title::after,
.drop-menu-auth__title::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #BB945F;
    bottom: -5px;
    right: 3px;
}

.drop-menu-auth__field,
.drop-menu__field {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.header-burger {
    display: none;
}

.welcome {
    min-height: 600px;
    color: #ffffff;
    background-color: #000000;
    background-image: url('../assets/img/welcome-bg.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.welcome h3 {
    text-align: center;
    font-family: 'Forum', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block;
    background-color: #000000;
    margin-top: 216px;
    padding: 39px 118px;
}

.section-header {
    color: #0C0C0E;
    text-align: center;
    font-family: 'Forum', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    margin: 0;
}

.section-header::after {
    content: '';
    position: absolute;
    display: block;
    background-color: #0C0C0E;
    width: 50px;
    height: 1px;
    bottom: -21px;
    right: calc(50% - 25px);
}

.about {
    padding: 20px 20px 40px 20px;
}

.about p {
    text-align: center;
    margin-top: 60px;
}

.slider {
    position: relative;
    margin-bottom: 59px;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider-list {
    position: relative;
    padding: 0;
    display: flex;
    transition: transform 1s ease-out;
    gap: 25px;
}

.slider-item {
    display: flex;
    max-height: 560px;
    object-fit: contain;
}

.slider-controls {
    position: absolute;
    width: 78px;
    right: calc(50% - 39px);
    bottom: -62px;
    font-size: 0;
    display: flex;
    justify-content: space-between;
}

.slider-control {
    position: relative;
    width: 26px;
    height: 26px;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
    border: none;
    
}

.slider-control::after {
    transition: all 0.3s;
    content: '';
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
    top: 0;
    right: 2px;
}

.slider-controls .active-slide::after {
    background-color: #BB945F;
    cursor: default;
}

.slider-controls .active-slide {
    cursor: default;
}

.slider-tablet,
.slider-control-tablet1,
.slider-control-tablet2 {
    display: none;
}

.favorites {
    padding: 18px 20px 40px 20px;
}

.fav-filter-header {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-top: 63px;
    margin-bottom: 38px;
}

.fav-controls-wrapper {
    display: flex;
    gap: 76px;
    margin-bottom: 40px;
}

.fav-filter-control {
    position: relative;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 0;
    display: inline-block;
    width: 120px;
    margin: 0;
    background-color: transparent;
    border: none;
}

.fav-filter-control::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../assets/img/fav-radio-off.svg);
    background-repeat: no-repeat;
    background-position: 4px 4px;
    top: 0px;
    left: -4px;
}

.fav-filter-control:disabled{
    font-weight: 700;
    color: #0C0C0E;
    cursor: default;
}

.fav-filter-control:disabled::before {
    background-image: url(../assets/img/fav-radio-on.svg);
}

.fav-filter-list {
    list-style: none;
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: 0;
    display: flex;
}

.fav-slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.4s;
}

.fav-active-slide{
    opacity: 1;
}

.fav-filter-pack {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 550px 550px;
    gap: 40px 260px;
}

.filter-item-text {
    min-height: 320px;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-bottom: 8px;
    max-width: 355px;
}

.fav-filter-item {
    position: relative;
    border: 1px solid #000000;
    padding: 13px 0px 12px 20px;
}

.fav-filter-item img {
    width: 200px;
    height: 300px;
    position: absolute;
    right: -40px;
    bottom: -1px;
}

.fav-filter-item h3 {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

span.book-author {
    text-transform: capitalize;
}

.book-highlight {
    font-family: 'Forum', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
    position: relative;
}

.book-highlight::after {
    content: '';
    position: absolute;
    background-color: #BB945F;;
    width: 60px;
    height: 1px;
    display: block;
    bottom: 1px;
    left: -1px;
}

.btn {
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    background-color: #ffffff;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.9s;
}

.btn:not(:disabled):hover {
    background-color: #BB945F;
    border: none;
}

.book-own {
    color: #BB945F;
    border-color: #BB945F;
    cursor: auto;
}

.coffee-shop {
    padding: 20px;
}

.coffee-shop-description {
    text-align: center;
    letter-spacing: 2px;
    margin-top: 61px;
    margin-bottom: 0;
}

.shop-menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.shop-menu h3 {
    color: #BB945F;
    font-family: 'Forum', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.shop-list {
    padding: 0;
    list-style: none;
}

.shop-item {
    display: flex;
    justify-content: space-between;
}

.meal-menu h3 {
    text-align: right;
}

.meal-menu .shop-item {
    justify-content: flex-end;
}

.shop-menu p:first-of-type {
    margin-right: 217px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.shop-menu p:last-of-type {
    font-family: 'Forum', sans-serif;
    letter-spacing: 2px;
    position: relative;
}

.shop-menu p:last-of-type::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    top: 19px;
    right: 86px;
}

.contacts {
    padding: 0 20px 48px 20px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.contacts-inquiries {
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-inquiries h3 {
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 40px;
}

.contacts-inquiries h4 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.contacts-inquiries a {
    color: #000000;
}

.contacts-inquiries a:hover {
    border-bottom: 1px solid #BB945F;
    transition: 0.3s;
}

.contacts-staff {
    font-weight: 700;
}

.contacts-map img {
    width: 696px;
    height: 414px;
    object-fit: contain;
}

.library-card {
    padding: 0 20px 41px 20px;
}

.library-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 199px;
    margin-top: 31px;
}

.library-card-search h3 {
    text-align: center;
    letter-spacing: 0.6px;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.library-card-search form {
    padding: 17px 17px 8px 17px;
    border: 3px solid #BB945F;
}

.library-card-search h4 {
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin: 0;
    text-transform: capitalize;
}

.library-card p {
    margin-bottom: 25px;
}

.library-card-search__input {
    color: #8E8E8E;
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 7px 20px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 100%;
}

.library-card-search__input:disabled {
    background-color: #ffffff;
    color: #BB945F;
}

.library-card-search__input.modal-invalid {
    background-color: #f6dada;
}

.library-card-search__input:focus {
    outline: 5px solid #8E8E8E;
    color: #BB945F;
    transition: 0.3s;
}



.form-search-btn {
    width: 242px;
    height: 44px;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    display: block;
    margin: 19px auto;
}

.form-wrapper {
    background-color: #BB945F;
    padding: 20px 20px 1px 20px;
}

.library-card-get {
    text-align: right;
    padding-left: 112px;
}

.library-card-get h3 {
    font-family: 'Forum', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.library-card-get p {
    margin-top: 35px;
    margin-bottom: 27px;
    letter-spacing: 0.4px;
}

.user-info {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 5px;

}

.user-info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info__item span {
    color: #000;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.btn-log-in {
    margin-left: 14px;
}

.footer {
    padding: 20px 20px 20px 20px;
    color: #ffffff;
    background-color: #0C0C0E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 121px 110px;
}

.footer a {
    color: #ffffff;
}

.footer-address-social,
.footer-working-hours {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.footer-address {
    position: relative;
}

.footer-social {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-top: 18px;
}

.footer-social svg {
    width: 24px;
    height: 24px;
    opacity: 1;
    margin-right: 15px;
    transition: 0.3s;
}

.footer-social svg:hover {
    opacity: 0.5;
}

.footer-working-hours {
    text-align: right;
}

.footer-working-hours p {
    margin-top: 0;
    margin-bottom: 10px;
}
  
.footer-bottom {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer-bottom a {
    position: relative;
}

.footer-rs {
    margin-left: 115px;
}

.footer-bottom::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff;;
    position: absolute;
    top: -2px;
}

.modal-register {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(210,210,210,0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.modal-show {
    visibility: visible;
    opacity: 1;
}

.modal-register__wrapper {
    width: 250px;
    height: 382px;
    padding: 20px 25px;
    background-color: #ffffff;
    position: relative;
}

.modal-register__header {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: Forum;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    cursor: default;
}

.modal-register__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-register__label {
    color: #000;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.modal-register__input {
    height: 20px;
    border: none;
    font-size: 15px;
    line-height: normal;
    padding: 2px 5px;
    outline: 1px solid #BB945F;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
}


.modal-register__input:focus {
    /* outline: none; */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a;
}

.modal-register__input:focus:invalid {
    border-bottom: 2px solid #ff7730;
}


.modal-register__btn {
    margin-top: 10px;
}

.modal-register__small {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.modal-register__small span {
    color: #000;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.modal-register__login {
    color: #0C0C0E;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-decoration-line: underline;
}

.modal-register__login:hover {
    text-decoration: none;
}

.modal-register__close {
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
}
.modal-register__close::before,
.modal-register__close::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #000;
    top: 50%;
    left: 50%;
}

.modal-register__close::before {
    transform: translate(-50%, -50%) rotate(135deg);
}

.modal-register__close::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-register__close:hover {
    background-color: #BB945F;
}

@media (max-width: 1024px) {
    .header-wrapper {
        gap: 40px;
    }

    .header-profile {
        margin-left: 0;
        z-index: 1;
    }

    .header-burger {
        width: 45px;
        height: 45px;
        position: relative;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-burger span {
        position: absolute;
        width: 45px;
        height: 2px;
        background-color: #ffffff;
        transition: all 0.3s;
    }

    .header-burger span:nth-child(2) {
        transform: translateY(-10px);
    }

    .header-burger span:nth-child(3) {
        transform: translateY(10px);
    }

    .header.menu-toggle .header-burger span:nth-child(1) {
        transform: rotate(45deg);
    }

    .header.menu-toggle .header-burger span:nth-child(2) {
        opacity: 0;
    }

    .header.menu-toggle .header-burger span:nth-child(3) {
        transform: translateY(0) rotate(135deg);
    }

    .welcome {
        background-image: url('../assets/img/welcome-bg-tablet.jpg');
        background-size: cover;
    }

    .slider-list {
        justify-items: center;
    }
    .slider-wrapper {
        margin: 0 auto;
        max-width: 460px;
    }

    .slider-controls {
        width: auto;
        bottom: -47px;
        right: 50%;
        transform: translateX(50%);
        
    }

    .slider-tablet {
        display: block;
    }

    .slider-control-tablet1,
    .slider-control-tablet2 {
        display: block;
        cursor: pointer;
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        top: -292px;
        border: none;
        background-color: #ffffff;
    }

    .slider-control-tablet1:disabled,
    .slider-control-tablet2:disabled {
        background-color: #e7e7e7;
        opacity: 0.5;
    }

    .slider-control-tablet1 {
        background-image: url('../assets/img/carret-left.svg');
        left: -242px;
    }

    .slider-control-tablet2 {
        background-image: url('../assets/img/carret-right.svg');
        right: -242px;
    }

    .favorites {
        padding-top: 4px;
        position: relative;
    }

    .fav-filter {
        overflow: hidden;
    }

    .fav-filter-list {
        margin-top: 28px;
    }

    .fav-controls-wrapper {
        padding: 10px 0;
        margin-bottom: 0;
    }

    .fav-filter-pack {
        grid-template-columns: 1fr;
    }
    
    .fav-slides-wrapper {
        padding-left: 69px;
        padding-right: 108px;
    }

    .fav-filter-header {
        margin-top: 60px;
        margin-bottom: 31px;
    }

    .shop-menu-wrapper {
        flex-direction: column;
    }
    
    .drinks-menu {
        align-self: flex-start;
        padding-left: 2px;
    }

    .meal-menu {
        align-self: flex-end;
        padding-right: 2px;
    }

    .meal-menu h3 {
        margin-top: 0;
    }

    .coffee-shop {
        padding: 20px 18px;
    }

    .contacts-wrapper {
        flex-direction: column;
        gap: 80px;
    }

    .contacts-map {
        align-self: center;
    }

    .library-card {
        padding-bottom: 38px;
    }

    .library-card-wrapper {
        grid-template-columns: 1fr;
        padding: 0 64px;
        gap: 0;
    }

    .library-card-get {
        padding-left: 0;
        text-align: center;
    }

    .library-card-get h3 {
        margin-top: 20px;
    }

    .library-card-get p {
        margin-top: 40px;
        margin-bottom: 32px;
    }

    .footer-rs {
        margin-left: 56px;
    }

    .header-wrapper {
        position: relative;
    }

    .nav-list {
        position: absolute;
        width: 330px;
        height: 570px;
        background-color: #000000;
        top: -20px;
        right: -350px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        transition: all 0.8s;
        visibility: hidden;
        opacity: 0;
    }

    .nav-list .nav-item {
        margin-left: 0;
    }
    
    .header.menu-toggle .nav-list {
        transform: translateX(-100%);
        visibility: visible;
        opacity: 1;
    }

    .sticky {
        position: fixed;
        top: 15px;
        opacity: 0.8;
        transition: all 0.5s;
        background-color: rgba(210,210,210,0.8);
        z-index: 10;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
    .fav-controls-wrapper {
        gap: 20px;
    }
}
